* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inria Sans";
}



#about-conteiner {
    flex: 1.4;
    padding: 2rem 4rem;
    position: relative;
    
}
#brand{
    display: flex;
    justify-content: flex-start;
    width: 68vw;
    padding: 2rem 4rem;
    height: 0px;
    margin-bottom: 100px;
}
#brand img {
    height: 70px;
    
}

#about-conteiner h1 {
    font-size: 40px;
    max-width: 400px;
    margin-bottom: 100px;
    line-height: 3rem;

}

#about-conteiner h2 {
    font-size: 20px;
    max-width: 600px;
    line-height: 1.5rem;
}

#form-conteiner {
    flex: 1;
    color: black;
    position: relative;
    
}

#form-inner{
    margin: 0rem;
    padding: 3rem;
    background-color: #00A3E1;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8.5px;
    height: 530px;
    width: 350px;
}

input[type="text"] {
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
input[type="email"] {
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }

  
input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
input[type="email"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
.inputWithIcon input[type="text"] {
    padding-left: 40px;
  }

.inputWithIcon input[type="email"] {
    padding-left: 40px;
  }
.inputWithIcon input[type="number"] {
    padding-left: 40px;
  }
  
.inputWithIcon {
    position: relative;
  }
  
.inputWithIcon i {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  
.inputWithIcon input[type="text"]:focus + i {
    color: dodgerBlue;
  }

.inputWithIcon input[type="email"]:focus + i {
    color: dodgerBlue;
  }
.inputWithIcon input[type="number"]:focus + i {
    color: dodgerBlue;
  }
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
.inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
}
.inputWithIcon.inputIconBg input[type="email"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
}
.inputWithIcon.inputIconBg input[type="number"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#register-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

#register-form input{
    width: 100%;
    height: 45px;
    border: 1px solid #009BDA;
    border-radius: 10px;
    padding-left: 35px;
    margin: 5px 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/assets/img/background.png");
}

#container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

button[type=submit]{
    width: 100%;
    height: 45px;
    border: 1px solid #009BDA;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: 0;
    border-radius: 15px;
    transition: 0.5s;
    text-transform: uppercase; 
    font-size: 18px;
    text-align: center;
}
button[type=submit]:hover{
    background-color: rgb(115, 117, 116);
    color: white;
}


/*responsivo*/

@media (max-width:450px){
    body{
        display: block;
    }

    #container{
        flex-direction: column;
    }

    #form-conteiner{
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }

    #about-conteiner{
        margin-bottom: 3rem;
    }
    
    #brand{
        display: flex;
        justify-content: center;
        padding: 3rem 4rem;
    }
}